<!-- templates/register.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section text-center">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{title}}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-dark" type="submit">μπες</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            θέλεις να συμμετεχεις στο poetree; <a class="ml-2" href="{% url 'poetree_register' %}">εγραφή</a>
        </small>
    </div>
</div>
{% endblock content %}