<!-- templates/logout.pug -->
{% extends 'base.pug' %}
{% load staticfiles %}

{% block content %}
div.container
  .div.row
    span.flow-text
        h3.animated.slideInLeft {{ title }}
        
        h4.light.animated.slideInRight αποσυνδεθήκες από το poetree</br> είσαι ένας απλός αναγνώστης.

    
        p.margin.medium-small.animated.bounceInUp
            | έχεις ήδη λογαριασμό;
            a(href="{% url 'poetree_login' %}") είσοδος
    
{% endblock content %}
