<!-- templates/about.pug -->
<!-- templates/home.html -->
{% extends 'base.pug' %}
{% load staticfiles %}

{% block content %}
div.container
  .div.row
    span
        h3.div.animated.slideInLeft {{ title }}
        
        h4.light.div.animated.slideInRight λίγα λόγια για το poetree.

        p.caption.animated.bounceInUp
          | το poetree(πόετρι) είναι ένα απλό site
          br
          | περιέχει τα ποιήματα (ή και ότι τίνει σε αυτά) μιας παρέας.
          br
          | με τα χρόνια δύο και περισσότεροι φίλοι αντιλήθηκαν ότι τα ποιήματα αποτελούν μια κοινή συνησταμένη.
          br
          | η τάση τους για δημιουργεία~
          br
          | τα ανεπηθήμητα συναισθήματα που συχνά τους διακατέβαλαν~
          br
          | η τρομερή αγάπη για την ποίηση του σαχτούρη~
          br
          | τους ένωσαν και έτσι συλλήφθηκε το poetree.
{% endblock content %}
