<!-- templates/home.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="text-center">
<h1>σχετικά</h1>
<p>το poetree(πόετρι) είναι ένα πόλυ απλό site που περιέχει τα ποιήματα (ή και ότι τίνει σε αυτά) μιας παρέας.<br>
<p>με τα χρόνια δύο και περισσότεροι φίλοι αντιλήθηκαν ότι τα ποιήματα αποτελούν μια κοινή συνησταμένη.<br>
η τάση τους για δημιουργεία~<br>
τα ανεπηθήμητα συναισθήματα που συχνά τους διακατέβαλαν~<br>
η τρομερή αγάπη για την ποίηση του σαχτούρη~<br>
τους ένωσαν και έτσι συλλήφθηκε το poetree.<br>
</p>
</div>
{% endblock content %}