<!-- templates/home.html -->
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="text-center"> 

    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'poetree_user_poems' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"l d F Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content|linebreaks }}</p>
        </div>
    </article>
    {% if object.author == user %}
    <div>
        <a class="btn  btn-outline-dark font-size-b" href="{% url 'poetree_poem_update' object.id %}"><i class="fas fa-edit"></i></a>
        <a class="btn  btn-outline-danger font-size-b" id="rand" href="{% url 'poetree_poem_delete' object.id %}"><i class="fas fa-eraser"></i></a>
    </div>
    {% endif %}
</div>
{% endblock content %}